.navbar {
    position: fixed;
    width: 100%;
    padding: 0 7.74rem;
    z-index: 100;
}

.navbarContent {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
    width: 100%;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(25px);
    font-weight: 600;
}

.navbarContent-mobile {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(25px);
    font-weight: 600;
    border-radius: 32px;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-top: 35px;
}


.logo {
    height: 42px;
}

.navDataContainer {
    display: flex;
    flex-direction: row;
    gap: 51px;
    padding-left: 51px;
    align-items: center;
}

.regisBtn {
    border-radius: 100px;
    background: linear-gradient(258deg, #59FFB9 0%, #326CFF 100%);
    color: white;
    padding: 10px 20px;
}

.regisBtn:hover {
    background: linear-gradient(258deg, #326CFF 0%, #59FFB9 100%);
}

.navDataContainer > .nav-item {
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
}

.navDataContainer > .nav-item:hover {
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(25px);
    padding: 10px 20px;
    border-radius: 999px;
}

.mobile {
    display: none;
}

.desktop {
    display: flex;
}

@media (max-width: 1300px) {
    .navbar {
        padding: 0 40px;
    }

    .logo {
        height: 35px;
    }

    .mobile {
        display: flex;
        flex-direction: column;
    }

    .desktop {
        display: none;
    }
}